
.toster {
  position: sticky;
  z-index: 100;
}

.toster-main {
  background: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  padding: 10px 40px 10px 10px;
  margin-top: 5px;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  border: 1px solid #F15C22;

  animation: spin-toster-main 0.5s;
  overflow-x: hidden;
}

@keyframes spin-toster-main {
  0% { transform: scale(.6); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}


.display-block {
  display: block;
}

.display-none {
  display: none;
}

.close-toster{
  position: absolute;
  right: 20px;
  width: max-content;
  padding: 0;
  border: none;
  font: inherit;
  color: #3e3e3e;
  background-color: transparent;
  cursor: pointer;
  transform: scale(1.4,1);
  font-weight: 300;
}