
.toster {
  position: sticky;
  z-index: 100;
}

.toster-main {
  position: sticky;
  background: white;
  width: 400px;
  top: 10%;
  left: 50%;
  border-radius: 5px;
  padding: 15px;
  margin-top: 5px;


  transform: translate3d(100px,0,0) scale(.6);
  opacity: 0;
  transition-property: opacity,transform,-webkit-transform;
  transition-duration: .5s;
  transition-timing-function: ease;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.close-toster{
  position: absolute;
  right: 20px;
  width: max-content;
  padding: 0;
  border: none;
  font: inherit;
  color: #3e3e3e;
  background-color: transparent;
  cursor: pointer;
  transform: scale(1.4,1);
  font-weight: 300;
}