.menu-item {
	padding: 10px 20px;
	box-sizing: border-box;
	width: 100%;
	color: #fff;
	margin: 6px 0;
  font-weight: normal;
  font-size: 15px;
  align-self: center;
  display: flex;
}

.menu-item:hover {
	text-decoration: none;
}

.menu-item.menu-item-active {
	background: linear-gradient(84deg, #E62D24, #FD8F21);
}

.menu-item.sub {
	font-size: 1em;
	padding-left: 50px;
}