.node-panel-edit-note{
  position: absolute;
  top: -10px;
  right: 35px;
  border: 0;
  cursor: pointer;
  margin: inherit;
  padding: 1px 6px 2px;
  border-radius: 35%;
  font-size: 10;
  background-color: #ffabab;               
}

.node-panel-delete-note{
  position: absolute;
  top: -6px;
  left: -10px;
  border: 0;
  cursor: pointer;
  margin: inherit;
  padding: 0px 4px 2px 4px;
  border-radius: 35%;
  font-size: 10px;
  background-color: rgb(253, 143, 33);
  color: #fff;
}

.node-panel-textarea-holder{
  height: 80px;
  border-radius: 5px;
  border: 1px solid rgb(191, 207, 233);
  padding: 10px;
  background-color: #ffefc1;
  max-width: 90%;
  min-width: 90%;
  width: 90%;
}

.node-panel-textarea-input{
  height: 100px;
  border-radius: 5px;
  border: 1px solid rgb(191, 207, 233);
  padding: 10px;
  max-width: 92%;
  min-width: 92%;
  /* width: 90%; */
}

.node-panel-textarea-input:focus{
  border: 1px solid #F15C22
}