.img-preview{
  display: flex;
  justify-content: center;
  margin: 10px;
}

.img-preview img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  font-size: 12px;
}

.preview-text{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 11px;
  text-align: center;
  background-color: #c1c7cc;
  display: flex;
  align-items: center;
}



.file {
  position: relative;
  display: flex;
  justify-content: center;
}

.file label {
  font-size: 14px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file input {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  opacity: 0.01;
  cursor: pointer;
}
