@media all and (max-width: 1000px) {

  @media all and (orientation: portrait) { 
    .navigation ul {
      display: flex;
    }
  }

  @media all and (orientation: landscape) {
    .navigation ul {
      display: block;
    }
  }

  .modal-main{
    width: fit-content;
    max-width: 900px;
  }

  .label-create{
    padding-right: 70px;
    font-size: 21px;
  }

  .burgers {
    display: inline;
  }

  .search-projects-bar {
    display: none;
  }

  .sidebar{
    display: none;
  }

  .sidebar-settings{
    display: none;
  }

  .main-settings {
    margin-left: 0px;
  }

  #settings-wrapper {
    margin-left: 0px;
    padding-bottom: 70px;
  }

  .settings-user-wrapper {
    margin-left: 0px;
    padding-bottom: 70px;
  }

  header nav ul li {
    margin-left: 0px;
    color: white;
  }

  header {
    left: 0px;
  }

  header .logo {
    padding-left: 20px;
    float: none;
    display: inline;
  }

  .title {
    max-width: 220px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 10px;
  }

}

@media all and (max-width: 800px) {

  .title {
    max-width: 180px;
  }
}

@media all and (max-width: 700px) {

  .settings-box {
    width: auto;
  }

  .settings-box-form{
    width: 100%;
  }

  .settings-password-change-box {
    margin-top: 0px; 
    margin-right: 0px;
    flex-direction: column;
  }

  .settings-password-change-input{
    width: auto !important;
  }

}

@media all and (max-width: 430px) {
  header .logo {
    display: none;
  }

  .btn-show-modal-create{
    position: fixed;
    bottom: 0;
    width: 100% !important;
    border-radius: 0px;
    left: 0;
  }

  .wrapper {
    padding: 10px;
  }

  .top-text-first {
    text-align: center;
  }

  .top-text-second {
    text-align: center;
  }

  .collaborators-in-modal-width{
    width: auto;
  }

  .create-funnels{
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .no-funnels{
    font-size: 22px;
  }

  .panel-buttons{
    display: none;
  }

  .diagram-header-button-save {
    display: none;
  }

  .modal-node-widget-main{
    width: 100%;
  }

  .funnel-comments-modal-width{
    width: 100%;
    height: 100vh;
  }

  .top-text-second-questionnaire {
    text-align: center;
  }

  .top-text-fourth {
    text-align: center;
  }

  .select-main {
    right: 0px;
    width: 100px;
  }

  .projects-wrapper {
    margin: auto;
    justify-content: center;
    margin-top: 70px;
    padding-bottom: 70px;
  }

  .modal-main {
    width: 235px;
  }

}

