@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700);
body {
  font-family: "Roboto";
  background-color: #F6F7F8;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 300;
}

a:visited, a:after, a:active, a:focus, a:checked, a:enabled, a:link {
  text-decoration: none;
}

a,
button,
select,
textarea {
  outline: none !important;
  font-size: 14px;
}

input {
  outline: none;
}

h1 {
  margin: 10px 0 20px 0;
  text-align: left;
}

p{
  margin: 0;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}


.loader-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  -webkit-animation: spin-loader-spinner 2s linear infinite;
  animation: spin-loader-spinner 2s linear infinite;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  margin: auto;
}

@keyframes spin-loader-spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
