.add-collaborators-img-body{
  display: flex;
}

.add-collaborators-img-image{
  width: 73.95%;
  margin: auto;
}

.add-collaborators-img-right-panel-wrapper{
  background: #212939;
  height: 100vh;
  width: 500px;
}

.btn-add-collaborators-text-wrapper{
  width: max-content;
  max-width: 400px;
}


.add-collaborators-img-right-panel::-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5;
} 
.add-collaborators-img-right-panel::-webkit-scrollbar-thumb {
  background-color: #ff9033;
}

.add-collaborators-img-logo {
  display: flex;
  /* margin: auto; */
  padding: 15px 0 50px 0;
  max-width: 280px;
}

.btn-add-collaborators-text{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  background: #F15C22;
  min-width: 150px;
  max-width: 370px;
  padding-top: 15px;
  padding-bottom: 15px;
  height: auto;
  font-weight: lighter;
}


.add-collaborators-img-right-panel{
  padding: 35px;
  max-height: calc(100vh - 100px);
  overflow: auto;
  padding-left: 50px;
}

.add-collaborators-img-text-first{
  font-size: 22px;
  color: #ffffff;
  padding-bottom: 50px;
}

.add-collaborators-img-text-second{
  font-size: 17px;
  color: #ffffff;
  padding-bottom: 50px;
  opacity: 80%;
}