
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.modal-main {
  position: fixed;
  background: white;
  width: 400px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.close-modal{
  position: absolute;
  top: 20px;
  right: 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0;
  border: none;
  font: inherit;
  color: #707070;
  background-color: transparent;
  cursor: pointer;
  transform: scale(1.4,1);
  font-weight: 300;
}